div.full * {
  width: 100%;
  height: 100%;
}

div.full section {
  margin: 0px;
}

img[alt="modcloth"] {
  float: left;
}

img[alt="Do it live"] {
  width: 500px;
  height: auto;
}

img[alt="github"] {
  width: 500px;
  height: auto;
}
